.container{
    display: flex;
    background-color: #1abc9c;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.todo-container{
    display: flex;
    background-color: white;
    margin-top: -50vh;
    width: 60vw;
    height: 40vh;
    flex-direction: column;
    flex-wrap:inherit;
}

.todo-string{
    font-family: Pacifico,cursive;
    color: #1abc9c;
    padding-top: 10px;
    padding-left: 15px;
}

.todo-input{
    flex : 20;
    border: 2px solid #16a085;
}

.todo-button{
    flex : 1;
    margin-left: 0.5vw;
    background-color: #16a085;
    border: none;
    color: white;
}

.todo-button-edit{
    flex : 1;
    margin-left: 0.5vw;
    background-color: #16a085;
    border: none;
    color: white;
}

.task-container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 5vh;
}

.createfirst-todo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f1;
    border: 20px solid white;
}



.todo-row{
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 20vh;
    padding-top: 20px;
    background-color: white;
}

.todo-text{
    flex: 20;
    margin-left: 20px;
    font-family: Open Sans,sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color :#1abc9c;
}

.todo-buttons{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
}

.edit-icon{
    background-color: #16a085;
    border: none;
    color: white;
    height: 5vh;
}

.delete-icon{
    background-color: #e74c3c;
    border: none;
    color: white;
    height: 5vh;
}